<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main Page</title>
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
<style>
    * {
        margin: 0;
        padding: 0;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    }
    
    .section1{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%;
        background: url("https://acsonnet.com/wp-content/uploads/2021/05/Hospital-Management-System.jpg") no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .form-box {
        position: relative;
        width: 400px;
        height: 450px;
        background: transparent;
        border: none;
        border-radius: 20px;
        backdrop-filter: blur(15px) brightness(80%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    h2 {
        font-size: 3em;
        color: #fff;
        text-align: center;
    }
    
    .inputbox {
        position: relative;
        margin: 30px 0;
        width: 310px;
        border-bottom: 2px solid #fff;
    }
    
    .inputbox label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        color: #fff;
        font-size: 2em;
        pointer-events: none;
        transition: 0.5s;
    }
    
    /* animations: start */
    input:focus~label,
    input:valid~label {
        top: -5px;
    }
    
    /* animation:end */
    .inputbox input {
        width: 100%;
        height: 50px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 2em;
        padding: 0 35px 0 5px;
        color: #fff;
    }
    
    .inputbox ion-icon {
        position: absolute;
        right: 8px;
        color: #fff;
        font-size: 2em;
        top: 20px;
    }
    
    .forget {
        margin: -10px 0 17px;
        font-size: 1.5em;
        color: #fff;
        display: flex;
        justify-content: space-between;
    }
    
    .forget label input {
        margin-right: 3px;
    }
    
    .forget a {
        color: #fff;
        text-decoration: none;
    }
    
    .forget a:hover {
        text-decoration: underline;
        color: #000;
    }
    
    button {
        width: 100%;
        height: 40px;
        border-radius: 40px;
        background-color: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1em;
        font-weight: 600;
    }
    
    .register {
        font-size: 1.5em;
        color: #fff;
        text-align: center;
        margin: 25px 0 10px;
    }
    
    .register p a {
        text-decoration: none;
        color: #fff;
        font-weight: 600;
    }
    
    .register p a:hover {
        text-decoration: underline;
        color: #000;
    }
    
    @media screen and (max-width: 480px) {
        .form-box {
            width: 100%;
            border-radius: 0px;
        }}
        .button {
            display: inline-block;
            padding: 1em 2.em;
            border: 1px solid #4f4f4f;
            border-radius: 6em;
            transition: all 0.2s ease-in;
            position: relative;
            overflow: hidden;
            font-size: 20px;
            cursor: pointer;
            color: black;
            z-index: 1;
          }
          
          .button:before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%) scaleY(1) scaleX(1.25);
            top: 100%;
            width: 140%;
            height: 180%;
            background-color: rgba(0, 0, 0, 0.05);
            border-radius: 50%;
            display: block;
            transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
            z-index: -1;
          }
          
          .button:after {
            content: "";
            position: absolute;
            left: 55%;
            transform: translateX(-50%) scaleY(1) scaleX(1.45);
            top: 180%;
            width: 160%;
            height: 190%;
            background-color: #39bda7;
            border-radius: 50%;
            display: block;
            
            transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
            z-index: -1;
          }
          
          .button:hover {
            color: #ffffff;
            border: 1px solid #39bda7;
          }
          
          .button:hover:before {
            top: -35%;
            background-color: #39bda7;
            transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
          }
          
          .button:hover:after {
            top: -45%;
            background-color: #39bda7;
            transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
          }
          :root{
            --green:#167da0;
            --black:#402525;
            --light-color:#111;
            --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
            --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
            --border:.2rem solid var(--green);
            
        }
        .profile-picture-container {
            width: 40px; 
            height: 40px; 
            background-color: #f0f0f0;
            border-radius: 50%; 
            position: absolute;
            left: 141rem;
            display: inline-block;
          }
          .profile-picture {
            width: 50px; 
            height: 50px; 
            border-radius: 50%;
            cursor: pointer;
          }
          
          .dropdown-menu {
            display: none; 
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #f9f9f9; 
            min-width: 160px; 
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1; 
          }
          
          .dropdown-menu a {
            color: black;
            padding: 15px 5px;
            text-decoration: none;
            display: block;
          }
          .dropdown-menu a:hover{
            text-decoration: underline;
            color:#341c02;
          }
          
          .profile-picture-container:hover .dropdown-menu {
            display: block;
            font-size: 14px;
          }
    
          
          .profile-picture::before {
            content: ""; 
            position: absolute;
            top: 50%;
            left: 50%;
            width: 70%; 
            height: 70%; 
            background-color: #ccc; 
            border-radius: 50%; 
            transform: translate(-50%, -50%); 
          }
          
        
        *{
            font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin:0; padding: 0;
            box-sizing: border-box;
            outline: none; border: none;
            text-transform: capitalize;
            transition: all .2s ease-out;
            text-decoration: none;
        }
        
        html{
            font-size: 62.5%;
            overflow-x: hidden;
            scroll-padding-top: 7rem;
            scroll-behavior: smooth;
        }
        
        section{
            padding:2rem 9%;
        }
        
        section:nth-child(even){
            background: #f5f5f5;
        }
        
        .heading{
            text-align: center;
            padding-bottom: 2rem;
            text-shadow: var(--text-shadow);
            text-transform: uppercase;
            color:var(--black);
            font-size: 5rem;
            letter-spacing: .4rem;
        }
        
        .heading span{
            text-transform: uppercase;
            color:var(--green);
        }
        
        .btn{
            display: inline-block;
            margin-top: 1rem;
            padding: .5rem;
            padding-left: 1rem;
            border:var(--border);
            border-radius: .5rem;
            box-shadow: var(--box-shadow);
            color:var(--green);
            cursor: pointer;
            font-size: 1.7rem;
            background: #fff;
        }
        
        .btn span{
            padding:.7rem 1rem;
            border-radius: .5rem;
            background: var(--green);
            color:#fff;
            margin-left: .5rem;
        }
        
        .btn:hover{
            background: var(--green);
            color:#fff;
        }
        
        .btn:hover span{
            color: var(--green);
            background:#fff;
            margin-left: 1rem;
        }
        
        .header{
            padding:2rem 9%;
            position: relative;
            top:0; left: 0; right: 0;
            z-index: 1000;
            box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #15bfd6;
            
        }
        
        .header .logo{
            font-size: 2.5rem;
            color: var(--black);
        }
        
        .header .logo i{
            color: #c0392b;
        }
        
        .header .navbar a{
            font-size: 1.9rem;
            color: var(--light-color);
            margin-left: 4rem;
        }
        
        .header .navbar a:hover{
            
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 9px;
            border: 2px solid #000; 
            border-radius: 50px;
            background-color: rgba(255, 255, 255, 0.868); /* Semi-transparent background */
            }
        
        .home{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap:10rem;
            padding-top: 10rem;
        }
        
        .home .image{
            flex:5 5 50rem;
        }
        
        .home .image img{
            width: 100%;
        }
        
        .home .content{
            flex:1 1 45rem;
        }
        
        .home .content h3{
            font-size: 4.5rem;
            color:var(--black);
            line-height: 1.8;
            text-shadow: var(--text-shadow);
        }
        
        .home .content p{
            font-size: 1.7rem;
            color:var(--light-color);
            line-height: 1.8;
            padding: 1rem 0;
        }
        
        .icons-container{
            display: grid;
            gap:2rem;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
           
            /* padding: 10rem; */
        }
        
        .icons-container .icons{
            border:var(--border);
            box-shadow: var(--box-shadow);
            border-radius: .5rem;
            text-align: center;
            padding: 2.5rem;
        }
        
        .icons-container .icons i{
            font-size: 4.5rem;
            color:var(--green);
            padding-bottom: .7rem;
        }
        
        .icons-container .icons h3{
            font-size: 4.5rem;
            color:var(--black);
            padding: .5rem 0;
            text-shadow: var(--text-shadow);
        }
        
        .icons-container .icons p{
            font-size: 1.7rem;
            color:var(--light-color);
        }
          
    
        .icons-container .icons:hover{
           border: 2px solid ;
           transform-style: preserve-3d;
           transform: perspective(1000px)  translateZ(130px);
           color:var(--black);
           /* background-color: #3FD2C7; */
           /* background-color: #15bfd6; */
    
           transition: transform 0.3s ease;
        }
        
        .about .row{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap:2rem;
        }
        
        .about .row .image{
            flex:1 1 45rem;
        }
        
        .about .row .image img{
            width: 100%;
        }
        
        .about .row .content{
            flex:1 1 45rem;
        }
        
        .about .row .content h3{
            color: var(--black);
            text-shadow: var(--text-shadow);
            font-size: 4rem;
            line-height: 1.8;
        }
        
        .about .row .content p{
            color: var(--light-color);
            padding:1rem 0;
            font-size: 1.8rem;
            line-height: 1.8;
        }
        
        
        .services .box-container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
            gap:2rem;
        }
        
        .services .box-container .box{
            background:#fff;
            border-radius: .5rem;
            box-shadow: var(--box-shadow);
            border:var(--border);
            padding: 2.5rem;
        }
        
        .services .box-container .box i{
            color: var(--green);
            font-size: 5rem;
            padding-bottom: .5rem;
        }
        
        .services .box-container .box h3{
            color: var(--black);
            font-size: 2.5rem;
            padding:1rem 0;
        }
        
        .services .box-container .box p{
            color: var(--light-color);
            font-size: 1.4rem;
            line-height: 2;
        }
        
        
        .doctors .box-container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
            gap:2rem;
        }
        
        .doctors .box-container .box{
            text-align: center;
            background:#fff;
            border-radius: .5rem;
            border:var(--border);
            box-shadow: var(--box-shadow);
            padding:2rem;
        }
        
        .doctors .box-container .box img{
            height: 20rem;
            border:var(--border);
            border-radius: .5rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        
        .doctors .box-container .box h3{
            color:var(--black);
            font-size: 2.5rem;
        }
        
        .doctors .box-container .box span{
            color:var(--green);
            font-size: 1.5rem;
        }
        
        .doctors .box-container .box .share{
            padding-top: 2rem;
        }
        
        .doctors .box-container .box .share a{
            height: 5rem;
            width: 5rem;
            line-height: 4.5rem;
            font-size: 2rem;
            color:var(--green);
            border-radius: .5rem;
            border:var(--border);
            margin:.3rem;
        }
        
        .doctors .box-container .box .share a:hover{
            background:var(--green);
            color:#fff;
            box-shadow: var(--box-shadow);
        }
        
        .appointment .row{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap:2rem;
        }
         
        .appointment .row .image{
            flex:1 1 45rem;
        }
        
        .appointment .row .image img{
            width: 100%;
        }
        
        .appointment .row form{
            flex:1 1 45rem;
            background: #fff;
            border:var(--border);
            box-shadow: var(--box-shadow);
            text-align: center;
            padding: 2rem;
            border-radius: .5rem;
        }
        .appointment .row form .message{
            margin-bottom: 2rem;
            border-radius: .5rem;
            padding: 1.5rem 1rem;
            font-size: 1.7rem;
            text-align: center;
        
        }
        .appointment .row form h3{
            color:var(--black);
            padding-bottom: 1rem;
            font-size: 3rem;
        }
        
        .appointment .row form .box{
            width: 100%;
            margin:.7rem 0;
            border-radius: .5rem;
            border:var(--border);
            font-size: 1.6rem;
            color: var(--black);
            text-transform: none;
            padding: 1rem;
        }
        
        .appointment .row form .btn{
            padding:1rem 4rem;
        }
        
        .review .box-container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
            gap:2rem;
        }
        
        .review .box-container .box{
            border:var(--border);
            box-shadow: var(--box-shadow);
            border-radius: .5rem;
            padding:2.5rem;
            background: #fff;
            text-align: center;
            position: relative;
            overflow: hidden;
            z-index: 0;
        }
        
        .review .box-container .box img{
            height: 10rem;
            width: 10rem;
            border-radius: 50%;
            object-fit: cover;
            border:.5rem solid #fff;
        }
        
        .review .box-container .box h3{
            color:#fff;
            font-size: 2.2rem;
            padding:.5rem 0;
        }
        
        .review .box-container .box .stars i{
            color:#fff;
            font-size: 1.5rem;
        }
        
        .review .box-container .box .text{
            color:var(--light-color);
            line-height: 1.8;
            font-size: 1.6rem;
            padding-top: 4rem;
        }
        
        .review .box-container .box::before{
            content: '';
            position: absolute;
            top:-4rem; left: 50%;
            transform:translateX(-50%);
            background:var(--green);
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
            height: 25rem;
            width: 120%;
            z-index: -1;
        }
        
        .blogs .box-container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
            gap:2rem;
        }
        
        .blogs .box-container .box{
            border:var(--border);
            box-shadow: var(--box-shadow);
            border-radius: .5rem;
            padding: 2rem;
        }
        
        .blogs .box-container .box .image{
            height: 20rem;
            overflow:hidden;
            border-radius: .5rem;
        }
        
        .blogs .box-container .box .image img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        
        .blogs .box-container .box:hover .image img{
            transform:scale(1.2);
        }
        
        .blogs .box-container .box .content{
            padding-top: 1rem;
        }
        
        .blogs .box-container .box .content .icon{
            padding: 1rem 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .blogs .box-container .box .content .icon a{
            font-size: 1.4rem;
            color: var(--light-color);
        }
        
        .blogs .box-container .box .content .icon a:hover{
            color:var(--green);
        }
        
        .blogs .box-container .box .content .icon a i{
            padding-right: .5rem;
            color: var(--green);
        }
        
        .blogs .box-container .box .content h3{
            color:var(--black);
            font-size: 3rem;
        }
        
        .blogs .box-container .box .content p{
            color:var(--light-color);
            font-size: 1.5rem;
            line-height: 1.8;
            padding:1rem 0;
        }
        
        .footer .box-container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
            gap:2rem;
        }
        
        .footer .box-container .box h3{
            font-size: 2.5rem;
            color:var(--black);
            padding: 1rem 0;
        }
        
        .footer .box-container .box a{
            display: block;
            font-size: 1.5rem;
            color:var(--light-color);
            padding: 1rem 0;
        }
        
        .footer .box-container .box a i{
            padding-right: .5rem;
            color:var(--green);
        }
        
        .footer .box-container .box a:hover i{
            padding-right:2rem;
        }
        
        .footer .credit{
            padding: 1rem;
            padding-top: 2rem;
            margin-top: 2rem;
            text-align: center;
            font-size: 2rem;
            color:var(--light-color);
            border-top: .1rem solid rgba(0, 0, 0, .1);
        }
        
        .footer .credit span{
            color:var(--green);
        }
        
        
        
        
        
        
        
        
        
        /* media queries  */
        @media (max-width:991px){
        
            html{
                font-size: 55%;
            }
        
            .header{
                padding: 2rem;
            }
        
            section{
                padding:2rem;
            }
        
        }
        
        @media (max-width:768px){
        
            #menu-btn{
                display: initial;
            }
        
            .header .navbar{
                position: absolute;
                top:115%; right: 2rem;
                border-radius: .5rem;
                box-shadow: var(--box-shadow);
                width: 30rem;
                border: var(--border);
                background: #fff;
                transform: scale(0);
                opacity: 0;
                transform-origin: top right;
                transition: none;
            }
        
            .header .navbar.active{
                transform: scale(1);
                opacity: 1;
                transition: .2s ease-out;
            }
        
            .header .navbar a{
                font-size: 2rem;
                display: block;
                margin:2.5rem;
            }
        
        }
        
        @media (max-width:450px){
        
            html{
                font-size: 50%;
            }
        
        }
        .btn5 {
          
            background: none;
            border: 2px solid #fff;
            font-size: 0.5cm;
            color: #131313;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            transition: all 0.3s;
            border-radius: 12px;
            background-color: #ecd448;
            font-weight: bolder;
            box-shadow: 0 1px 0 1px #000;
           }
           
           .btn5:before {
            content: "";
            position: absolute;
            width: 80px;
            height: 120%;
            background-color: #ff6700;
            top: 50%;
            transform: skewX(30deg) translate(-150%, -50%);
            transition: all 0.5s;
           }
           
           .btn5:hover {
            background-color: #4cc9f0;
            color: #fff;
            box-shadow: 0 2px 0 2px #0d3b66;
           }
           
           .btn5:hover::before {
            transform: skewX(30deg) translate(150%, -50%);
            transition-delay: 0.1s;
           }
           
           .btn5:active {
            transform: scale(0.9);
           }
           
           
          
       
</style>

</head>
<body>
<div class="header">

    <a href="#" class="logo"> <i class="fas fa-heartbeat"></i> <strong>RL</strong>Hospitals</a>

    <nav class="navbar">
        <a href="/after_login">home</a>
        <a href="/aabout">about</a>
        <a href="/aservice">services</a>
        <a href="/adoctors">doctors</a>
        <a href="\patient">appointment</a>
        <a href="/areview">review</a>
        <a href="/ablogs">blogs</a>
        <a href="/alogin">Login</a>
    </nav>

</div>

<section class="about" id="about">

    <h1 class="heading"> <span>about</span> us </h1>

    <div class="row">

        <div class="image">
            <img src="https://tse2.mm.bing.net/th?id=OIP.qIypzNudmVhGSFbq49DUVwHaE0&pid=Api&P=0&h=220" alt="">
        </div>

        <div class="content">
            <h3>Take the world's best quality treatment</h3>
            <p>we expected the effects of the Treatment Plan to diminish over time as the client developed and circumstances evolved. Although Treatment Plans should in theory inform service provision, simple adherence to a plan does not necessarily indicate “quality” treatment.</p>
            <a href="/fabout" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
        </div>

    </div>

</section>
</body>
</html>